@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.icon {
    stroke: #facc15;
}

.without_ampm::-webkit-datetime-edit-ampm-field {
    display: none;
}
input[type="time"]::-webkit-clear-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    margin: -10px;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    background: none;
}

.custom_image{
    width: 300px;
    height: 400px;
}

option{
    background-color: #ffffff4d!important;
    color: #2b2a2a;
}
